@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Honk&family=Single+Day&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: cursive; */
    /* font-family: "Cuprum", sans-serif; */
    box-sizing: border-box;
}

.cuprum {
    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    /* width: 150px; */
    cursor: pointer;
    width: 20%;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 1em;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    font-size: 1.3em;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img{
    width: 14px;
    margin-left: 10px;
}

#sign-in-btn {
    font-size: larger;
}

.header-content{
    width: 100%;

    /* border: solid 2px red; */
    margin-top: 8%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}


.header-content h1{
    font-size: 3em;
    padding: .3em;
    font-weight: 400;

    text-align: center;
    width: 70%;
}

.header-content h3{
    font-weight: 400;
    margin-bottom: 10px;
    padding: .3em;
    font-size: 2rem;

}

.header-content p{
    font-size: 1.5rem;
}


.email-signup{
    background-color: transparent;
    height: 20%;
    width: 45%;
    /* border: solid 2px red; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 20px;
    /* overflow: hidden; */
}

.email-signup input{
    padding-left: .3em;
    color: orangered;
    font-size: x-large;
    border-radius: 10px;

    background-color: transparent;
    border: solid 1px white;
    height: 50px;
    width: 100%;

}

.email-signup button{
    background: #db0001;
    border: none;
    border-radius: 6px;
    outline: none;
    height: 40%;
    width: 55%;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px 30px;

    display: flex;
}

.material-symbols-outlined {
    height: 100%;
    width: 15%;
}

hr {

    width: 100%;
    /* height: 5px; */
    border: solid 4px rgba(255, 255, 255, 0.188);
    /* color: rgba(255, 255, 255, 0.3); */
}

 

.features{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 20px;
}

.row{
    display: flex;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    /* border: solid 2px red; */
    /* margin-left: 10px; */

}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}

.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.faq{
    /* border: solid 2px red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;

    width: 100%;
    margin-top: 2em;
    text-align: center;
    font-size: 18px;
}

.faq h2{
    font-weight: 500;
    font-size: 3.5em;
}

.accordion{
    width: 80%;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 13px;
}

.footer{
    padding: 50px 15% 10px;
    color: #777;

}


/* .rows {
    font-size: 20px;
    border: solid 2px red;
} */

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    /* border: solid 2px red; */

}


.footer #footer-row {
    /* border: solid 2px cyan; */
    width: 100%;

    /* height: 100%; */
    display: flex;
    text-decoration: underline;
}

.footer .col{
    width: 25%;

    display: flex;
    flex-direction: column
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

/* .footer .row{
    align-items: flex-start;
    padding: 10px 0;
} */

.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px){
    .logo{
        width: 100px;
    }

    nav button{
        padding: 5px 10px;
    }

    nav .language-btn{
        padding: 4px 8px;
    }

    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
    }

    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;
    }

    .text-col, .img-col{
        flex-basis: 100%;
    }

    .features h2{
        font-size: 30px;
    }

    .features p{
        font-size: 15px;
    }

    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }

    .features .row{
        padding: 10px 0;
    }

    .faq h2{
        font-size: 20px;
    }

    .accordion .content{
        font-size: 14px;
    }

    .accordion li label{
        padding: 10px;
        font-size: 14px;
    }

    label::after{
        font-size: 22px;
    }
}